#uc-cc-form {
  text-align: center;
}

input, textarea, select, .uneditable-input{
	text-align:center;
}


.uc_cc_hide {
  display: none;
}

#cc_coin_reselect {
  cursor: pointer;
} 

.cc_coin_coins_preview {
  float: left;
}

#cc_coin_select_wrapper {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
}

#cc_service_payment_wrapper {
  overflow: hidden;
  margin-left: 50px;
  margin-right: 50px;
  display: none;
}

.cc_coin_coins {
  cursor: pointer;
}

#cc_coin_enabled_wrapper > img {
  width: 50px;
}

.cc_coin {
  float: left;
  width: 150px;
  height: 150px;
}

.cc_coin_amt {
  float: left;
  width: 150px;
  height: 20px;
}

#uc_cc_payment_qr_address_container {
  height: 155px;
  display: block;
}

#cc-wrapper {
  text-align:center;
  border-radius: 20px;
  border-style:solid;
  border-color: #1E91F3;
}

#cc_pay {
  background:url(../images/logo.jpg) center no-repeat;
  height: 70px;
}

.modal-header {
  background-color: #1E91F3 !important;
}

#modalBackdrop {
  width: 100% !important;
  height: 100% !important;
}
